<div>
    <a href="{{ product.url }}" title="{{ product.title | escape }}">
        <img src="{{ product.featured_image | img_url: 'medium' }}" alt="{{ product.title | escape }}">
    </a>
    <h3>{{ product.title }}</h3>
    <p>{{ product.price | money }}</p>
    <a href="{{ product.url }}" title="{{ product.title | escape }}">View Product</a>
</div>